@media( max-width:1800px)
{
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-kerning: normal;
    }
    body input {
        font-size:16px;
    }
    body input:focus {
        outline:none;
    }
     header {
        height:130px;
        width:100%;
        position:fixed;
        top:0;
        left:0;
        margin:0px;
        z-index:99;
    }
    header > div:nth-child(1) {
        height:70px;
        border-bottom:1px solid black;
        width: 100%;
        display:flex;
        opacity:1;
        background-color: white;
    }
    header > div:nth-child(1) > div {
        flex-basis:29%;
        font-size:14px;
    }
    header > div:nth-child(1) > div:nth-child(1) {
        padding:25px;
        font-size:14px;
    }
    header > div:nth-child(1) > div:nth-child(2) {
        text-align:center;
        padding-top: 25px;
        flex-basis:35%;
    }
    header > div:nth-child(1) > div:nth-child(3) {
        display:flex;  
        flex-grow: 1;
    }
    header > div:nth-child(1) > div:nth-child(3) > div:nth-child(1) {
        flex-grow: 1;
        
    }
    #header {
        box-shadow:1.5px 1.5px rgba(66, 66, 66, 0.445);

    }
    #search-icon {
        padding-top: 27px;
        display:flex;
        width: 80px;
        font-size:14px;
    }
    #header-signin-logo {
        padding-top: 27px;
        display:flex;
        width: 70px;
        font-size:14px;
    }
    #header-signin-logo-small-screen {
        padding-top: 27px;
        display:flex;
        width: 70px;
        font-size:14px;
    }
    #cart-logo {
        padding-top: 25px;
        display:flex;
        width:40px;
        padding-right: 14px;
        padding-left:0;
    }
    #cart-logo-small {
        padding-top: 25px;
        display:flex;
        width:40px;
        padding-right: 18px;
        padding-left:0;
        display:none;
    }
    #country {
        padding-top: 25px;
        display:flex;
        width:100px;
    }
    #country > svg {
        margin:4px;
        margin-top: -3px;

    }
    #country .flag {
        width: 30px;
        height:20px;
    }
    header > div:nth-child(2) {
        background-color: rgba(255, 255, 255, 0.95);
        display:flex;
    }

    header > div:nth-child(2) > div {
        flex-basis: auto;
        padding:18px 26px;
        font-size:14px;
    }
    header > div:nth-child(2) > div > p {
        margin:0px;
        background-color: white;
        z-index:5;
    }
    header > div:nth-child(2) > div:nth-child(1) {
        flex-grow:1;
        text-align: right;
    }
    #shop-menu {
        border-bottom: 2px solid white;
    }
    #navBottom .blue-border-bottom:hover {
        border-bottom: 2px solid blue;
    }
    header > div:nth-child(2) > div:nth-child(9) {

        flex-grow: 1;
    }
    #drop-down-list {
        width:100%;
        height:auto;
        background: white;
        margin-top:0px;
        border:1px solid white;
        z-index:100;
    }
    .hide-list {
        display:none;
    }
    #drop-down-SHOP-container {
        width:65%;
        min-width:900px;
        margin:20px auto;
        display: flex;
    }
    #drop-down-SHOP-container > div {
       flex-basis:25%;
    }
    #drop-down-list > div > div > div > div {
       width:fit-content;
       font-size: 14px;
       margin:5px 0px;
       border-bottom:2px solid white;
    }
    #drop-down-list > div > div > div > div:hover {
       cursor: pointer;
       border-bottom:2px solid blue;
    }
    #drop-down-FEATURED-container  {
        width: 600px;
        margin:auto;
        padding:20px;   
    }   
    #drop-down-FEATURED-container > div  {
        width: 430px;
        margin:auto;
    } 
    #drop-down-OUR-STORY-container {
        width:800px;
        margin:auto;
    }
    #drop-down-OUR-STORY-container  > div{
        width:200px;
        margin:auto;
    }
    #drop-down-BECOME-A-CONSULTANT-container {
        width: 400px;
        text-align:right;
        margin:auto;
    }
    #drop-down-BECOME-A-CONSULTANT-container > div {
        width: 200px;
        text-align:right;
        justify-content: right;
        margin-left:390px;
    }
    #mini-cart-box {
        width:380px;
        height:650px;
        position: fixed;
        right:0;
        top:0;
        background: white;
        z-index:100;
        display:none;
    }
    #mini-cart-box > div:nth-child(1) {
        padding:10px;
        display:flex;
        border-bottom: 1px solid lightgrey;
    }
    #mini-cart-box > div:nth-child(1) > div {
        flex-basis:10%;
    }
    #mini-cart-box > div:nth-child(1) > div:nth-child(2) {
        flex-grow:1;
        text-align:center;
    }
    #mini-cart-box > div:nth-child(2) > div
    {
        height:600px;
        width:100%;
        text-align:center;
        margin:170px 0px;
    }
    #mini-cart-box > div:nth-child(2) > div > p:nth-child(1) 
    {
       font-size:26px;
       margin:0px;
    }
    #mini-cart-box > div:nth-child(2) > div > p:nth-child(2) 
    {
       font-size:14px;
    }
    #mini-cart-box > div:nth-child(2) > div > div
    {
       background: rgba(0, 0, 0, 0.897);
       color: rgba(255, 255, 255, 0.897);
       border-radius: 3px;
       width:80%;
       padding:10px;
       margin:auto;
       font-size:14px;
       font-weight: 500;  
    }
    #header-signin-box-container {
        width: 350px;
        margin:auto;
        position: fixed;
        right: 150px;
        top: 71px;
        background:rgb(255, 255, 255);
        padding:15px;
        border:1px solid lightgrey;
        display:none;
    }
    #header-signin-box-container > form  p {
        margin:5px;
        margin-top:10px;
        font-size:14px;
        color: grey;
    }
    #header-signin-box-container > form input {
        width:97%;
        border-radius: 3px;
        height:30px;
        border: 1px solid lightgrey;
    }
    #header-signin-box-container div {
        display: flex;
    }
    #header-signin-box-container div > p:nth-child(2) {
        flex-grow:1;
        text-align:right;
        color:blue;
    }
    #header-signin-box-container > p:nth-of-type(1) {
        color:grey;
        margin-top:20px;
        font-size:14px;
        margin-bottom:0px;
    }
    #header-signin-box-container > p:nth-of-type(2) {
        color: black;
        font-size:14px;
        margin:0px;
    }
    #header-signin-box-container > p > a {
        color:blue;

    }
    #header-signin-box-container > div {
        color:rgba(255, 255, 255, 0.904);
        background:rgba(0, 0, 0, 0.918);
        border-radius:3px;
        margin:auto;
        text-align:center;
        padding: 12px 140px;
        margin-top: 20px;
        font-size:18px;
    }
    #header-select-country {
        width:40px;
        border:1px solid rgb(175, 172, 172);
        position: fixed;
        right:60px;
        top:71px;
        overflow:hidden;
        background: rgba(255, 255, 255, 0.87);
        display:none;
        z-index:201;
    }
    #header-select-country > div {
        padding:8px;
    }
    #header-select-country > div > img {
        width:100%;
        height:20px;
    }
    #header-menu-small-screen {
        width: 400px;
        position: fixed;
        top : 0;
        left:0;
        height: 650px;
        background-color: white;
        margin:0px;
        z-index:200;
        display:flex;
        flex-direction: column;
        padding:15px;
        overflow-y: scroll;
        display:none;
        color: rgba(0, 0, 0, 0.733);
    }
    #header-menu-small-screen > div {
        width:95%;
        border-bottom: 1px solid lightgrey;
        display:flex;
        PADDING: 20PX 10PX;
        FONT-SIZE: 14PX;
    }
    #header-menu-small-screen > div:nth-child(1) > div:nth-child(2) > img {
        padding-right:3px;
    }

    #header-signin-logo-small-screen {
        PADDING:0PX;
    }
    #header-menu-small-screen > div > div {
        flex-basis:60%;
    }
    #header-menu-small-screen > div > div:nth-child(2) {
        flex-grow:1;
        text-align:right;
    }
    #switch-country-small-screen {
        display: flex;
    }
    #switch-country-small-screen img {
        width:30px;
        height:20px;
        margin: 0px 10px;
    }
    #header .small-screen-only {
        display:none;
    }
    #header-search-bar {
        background-color: white;
        position: fixed;
        top:0;
        width:100%;
        display: none;
    }
    #header-search-bar > div:nth-child(1) {
        margin:70px auto;
        width:79%;
        margin-bottom:0px;
    }
    #header-search-bar > div:nth-child(1) > div:nth-child(1) input {
        width:97%;
        border: none;
    }
    #header-search-bar > div:nth-child(1) > div:nth-child(1) {
        border-bottom: 2px solid lightgrey;
        display:flex;
    }
    #header-search-bar > div:nth-child(2) {
        display: flex;
        width:85%;
        margin:20px auto;
        margin-bottom:60px;
    }
    #header-search-bar > div:nth-child(2) > div {
        flex-basis:33%
    }
    #header-search-bar > div:nth-child(2) ul li {
        list-style: none;
        margin-top: 3px;
        color:rgba(63, 63, 63, 0.856);
    }
    #header-search-bar > div:nth-child(2) > div:nth-child(3) {
        display:flex;
        flex-grow:1;
        letter-spacing: 1.3px;
    }
    #header-search-bar > div:nth-child(2) img {
        width:180px;
        height:170px;
    }
    #header-search-bar > div:nth-child(2) > div:nth-child(3) > div > div {
        margin: 0px 20px;
    }
    #header-search-bar > div:nth-child(2) > div:nth-child(3) > div > div > a {
        color:black;
    }


    #main-body {
        margin-top:180px;
    }
    #empty-cart {
        width:500px;
        height:330px;
        margin:auto;
        margin-top:240px;
        text-align:center;
    }
    #empty-cart-box {
        height:200px;
        margin:50px auto;
        text-align: center;
    }
    #empty-cart-box > div > p:nth-child(1) {
        font-size:32px;
        font-family: RFFontRoman;
        margin: 0px auto;
        color: rgb(49, 49, 49);
    }
    #empty-cart-box > div > p:nth-child(2) {
        letter-spacing:1px;
        font-size:18px;
        margin:10px auto;
    }
    #empty-cart-box > div > div:nth-child(3) {
        width: 300px;
        background: rgb(26, 26, 26);
        color:white;
        margin:30px auto;
        padding:8px;
        border-radius:4px;
        font-weight: 500;
    }
    #empty-cart> div > div:nth-child(2) {
        font-size:12px;
    }


    #main-body #selected-items {
        /* width:900px; */
        margin:50px auto;
    }
    #selected-items > div:nth-child(1) {
        text-align: center;
        font-size:24px;
        padding: 30px;
        font-size:36px;
        font-family: 'Cormorant Infant', serif;
        font-weight: 500;
    }
    #items-box {
        width:56%;  
        color:black;
        height: auto;
        margin:0px 3%;
    }
    #items-box > div {
        height: auto;
        margin:20px 0px;
        width:100%;
    }
    #pc-perks {
        color: #3F3F3F;
        background-color: #ECEFF1;
        text-align:center;
        height:250px;
        border-radius: 4px;
        padding:5px 0px;
    }
    #pc-perks > div:nth-child(1) {
        margin-top:10px;
    }
    #pc-perks p {
        margin:5px;
    }
    #pc-perks > p:nth-child(2) {
        font-size:14px;
        font-weight: 500;
        margin-top:10px;
    }
    #pc-perks > p:nth-child(3) {
        font-size:12px;
        margin:0px;
        
    }
    #pc-perks > div:nth-child(4) {
        width:60px;
        text-decoration: underline;
        text-decoration-color: black;
        margin:3px auto;
        font-size:12px;
        color: black;
    }
    #pc-perks > div:nth-child(5) {
        background-color: black;
        color:white;
        width:280px;
        margin:15px auto;
        text-align: center;
        padding: 8px;
        border-radius:4px;
        font-size: 11px;
        letter-spacing: 0.8px;
        font-weight: 500;
    }
    #items-box #current-items > div {
        display: grid;
        grid-template-columns: 20% 60% 20%;  
        height: 130px;
        border:1px solid lightgrey;
    }
    #current-items > div > div:nth-child(1) > img{
        width:90%;
        height: 60%;
        padding:15px 10px;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(1){
        margin:20px 0px;
        font-size:16px;
        font-weight: 500;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(2){
        display: grid;
        grid-template-columns: 20% 60% 20%;
        border: 1px solid  black;
        width:130px;
        height: 40px;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(2) > div{
        text-align:center;
        overflow:hidden;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > p{
        font-size:26px; margin-top:-10px;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p{
        margin-top: 8px;font-size:16px;
    }
    #current-items > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(3) > p{
        font-size:26px; margin-top:-1px;
        overflow:visible;
    }
    #current-items > div > div:nth-child(3) {
        text-align: right;
    }
    #current-items > div > div:nth-child(3) img {
        margin:18px;
    }
    #current-items > div > div:nth-child(3) > div:nth-child(2) {
        margin:20px;
        font-size: 16px;
        font-weight: 500;
    }
    #items-box #best-seller {
        height:420px;
        background-color: rgb(196, 213, 227);
        width:97%;
        padding:1.5%;
    }
    #items-box #best-seller > div:nth-child(1) {
        padding: 5px;
        font-size: 22px;
        font-family: 'Cormorant Infant', serif;
        font-weight: 500;
    }
    #items-box #best-seller > div:nth-child(2) {
        height:320px;
        display: flex;
    }
    #items-box #best-seller > div:nth-child(2) > div {
        height:300px;
        margin:2%;
        flex-basis: 33%;
    }
    #items-box #best-seller > div:nth-child(2) > div > div:nth-of-type(1) {
        height:200px;
    }
    #items-box #best-seller > div:nth-child(2) > div > div:nth-of-type(1) img {
        width: 100%;
        height: 100%;
    }
    #items-box #best-seller > div:nth-child(2) > div > div:nth-of-type(2){
        PADDING:15px 0px;
    }

    #items-box #best-seller > div:nth-child(2) > div > div:nth-of-type(2) > div:nth-of-type(1) {
        font-size:14px;
        height:40px;
    }
    #items-box #best-seller > div:nth-child(2) > div > div:nth-of-type(2) > div:nth-of-type(2) {
        background-color: white;
        width:90%;
        border:1px solid black;
        margin: 10px auto;
        text-align: center;
        padding:8px;
        font-size:12px;
        border-radius: 4px;
        font-weight: 500;
    }
    #price  {
        border:1px solid lightgrey;
        height: 340px;
    }
    #price > div:nth-of-type(1){
        height:30px;
        background-color:#ECEFF1;
        padding:12px 15px;
    }
    #price > div:nth-of-type(2){
        margin-top:30px;
        font-size:15px;
    }
    #price > div:nth-of-type(3){
        border-bottom: 1px solid lightgrey;
        font-size:15px;
    }
    #price > div:nth-of-type(4){
        margin: 10px 15px;
        font-size:15px;
        color:black;
        font-weight:500;
    }
    #price .t-right {
        text-align: right;
        font-size:14px;
    }
    #price .flex {
        display:flex;
        margin:5px 15px;
        height:25px;
    }
    #price > div > div:nth-of-type(2) {
        flex-grow: 1;
    }
    #price > div:nth-of-type(5) {
        margin:15px;
        font-size:16px;
        height:40px;
        border-bottom: 1px solid lightgrey;
        padding-bottom:15px;
        margin-top:20px;
    }
    #price > div:nth-of-type(6) {
        padding:5px 15px;
        font-size:14px;
    }
    #price > div:nth-of-type(6) input {
        width:65%;
        border: none;
        padding:15px;
        border-radius:6px;
        font-size: 12px;
    }
    #price > div:nth-of-type(6) > div {
        border:1px solid black;
        display:flex;
        border-radius:5px;
    }
    #price > div:nth-of-type(6) > div > div{
        width:25%;
        padding:15px;
        font-weight:500;
        border-left:1px solid black;
        text-align:center;
    }
    #billing {
        width:33%;
        height:450px;
        margin:10px;
    }
    #billing > div:nth-of-type(2) {
        border:1px solid black;
        width:90%;
        text-align: center;
        padding:8px;
        margin: 15px  auto;
        border-radius: 4px;
    }
    #billing > div:nth-of-type(3) {
        width:90%;
        text-align: center;
        padding:10px;
        margin: 5px  auto;
        border-radius: 4px;
        background:black;
        color:white;
        font-weight: 600;
    }
    #billing > div:nth-of-type(4) {
        margin: 0px 10px;
        font-size: 14px;
        display:flex;
    }
    #billing .payment-method-img {
        width:20px;
        height:20px;
        margin-left:10px;
    }


    #footer {
        height:260px;
        display: flex;
        background:white;
        padding:10px 0px;
        margin-top:30px;
        border-top: 2px solid rgb(235, 235, 235);
    }
    #footer > div {
        font-size:13px;
        letter-spacing:1px;
        font-weight: 500;
        color:rgba(0, 0, 0, 0.61);
    }
    #footer  ul li {
        list-style: none;
        margin:15px -10px;
        position:relative;
        left:-30px;
        cursor:pointer;
    }
    #footer > div:nth-child(1) {
        flex-basis: 25%;
    }
    #footer > div:nth-child(2) {
        flex-basis: 29%;
        padding-left:30px;
    }
    #footer > div:nth-child(3) {
        flex-basis:63%;
        padding:30px 0px;
    }
    #footer > div:nth-child(3) >  div:nth-child(1)
    {
        width: 350px;
        margin:auto;
        font-size:16px;
    }
    #footer > div:nth-child(3) > div:nth-child(2) >  div:nth-child(1)
    {
        border-bottom:1px solid lightgrey;
        margin:30px auto;
        width:350px;
    }
    #footer > div:nth-child(3) > div:nth-child(2) >  div:nth-child(2)
    {
       background:black;
       color:white;
       padding:15px 0px;
       width: 350px;
       text-align:center;
       margin:15px auto;

    }
    #footer > div:nth-child(3) input {
        border:none;
        width:100%;
    }
    #footer > div:nth-child(3) > div:nth-child(2) >  div:nth-child(3){
       width:350px;
       margin:15px auto;
       font-size:11px;
       color:black;
       letter-spacing: normal;
    }
    #footer > div:nth-child(3) > div:nth-child(2)  > #social-logos
    {
        width:350px;
        margin:30px auto;
        display:flex;

    }
    #footer > div:nth-child(3) > div:nth-child(2)  > #social-logos > img
    {
        padding-right:17%;
    }
    #footer-container {
        background-color: white;
        padding:20px;
        position: inherit;
    }
    #disclaimer > div {
        display: flex;
        background-color: white;
        padding:10px;
        border-top:1px solid lightgrey;
        margin-bottom:20px;
    }
    #disclaimer > div > div {
        margin:5px;
        padding-left:10px;
        border-left:1px solid lightgrey;
        font-size:12px;
        font-weight: 500;
        color:rgba(0, 0, 0, 0.733);
    }
    #footer-small-screen-list {
        width:500px;
        margin: -20px auto;
        height:270px;
    }
    #footer-small-screen-list > div {
        border-bottom: 1px solid lightgrey;
    }
    #footer-small-screen-list > div > div:nth-child(1) {
        width:100%;
        padding:15px 5px;
        display:flex;
        font-size:14px;
    }
    #footer-small-screen-list > div > div:nth-child(1) > div:nth-child(2) {
        flex-grow:1;
        text-align: right;
    }
    #footer-small-screen-list > div > div:nth-child(1) > div:nth-child(3) {
        flex-grow:1;
        text-align: right;
    }
    #footer-small-screen-list ul li{
        color: rgba(0, 0, 255, 0.712);
        font-size:12px;
        list-style:none;
        margin:7px;
        margin-left:-30px;
    }
    .footer-small-screen-list-item {
        display:none;
    } 
    #footer-small-screen-list > div:last-child {
        text-align:center;
        font-size:12px;
        width:150px;
        margin:20px auto;
        border: none;
    }

}


@media(max-width:1080px){
    #header {
        box-shadow: none;
    }
    header > #navTop
    {
        border-bottom:1.5px solid rgba(66, 66, 66, 0.445);
        height: 60px;
    }
    #header .big-screen-only  {
        display:none;
    }
    #header .small-screen-only {
        display:inline;
    }
    #header #header-menu-small-screen {
        display: none;
    }

    #footer-container .big-screen-only, #disclaimer {
        display: none;
    }
    #footer > div:nth-child(3) {
        flex-basis:100%;
    }
    #footer> div:nth-child(3) > div:nth-child(2)  > #social-logos > img {
        padding-right:15%;
    }
    #main-body #selected-items > div:nth-child(2) {
        width:700px;
        border:1px solid blue;
        display: flex;
        flex-direction: row;
        height:auto;
        margin:auto;
    }
    #selected-items > div:nth-child(2)  > div:nth-child(1){
        width:45%;
    }
    #selected-items > div:nth-child(2)  > div:nth-child(2){
        width:35%;
    }
}


@media(min-width:1080px)
{
    #header .small-screen-only {
        display:none;
    }
    #footer-container .small-screen-only, #footer-small-screen-list {
        display: none;
    }
    #selected-items > div:nth-child(2) {
        height:auto;
        display:flex;
        width:1080px;
        margin:auto;
    }

}

@media( max-width:800px)
{
    #selected-items > div:nth-child(2) {
        flex-direction:column;
    }
    #selected-items > div:nth-child(2) #items-box, #billing, #price, #billing > div {
        width:600px;
    }
}